#input_table {
    width: 650px;
    margin-top: 10px;
}

#input_table td {
    padding-bottom: 15px;
}

#select_account {
    width: 250px;
}
table input {
    width: 450px;
}

.account_descript {
	color: #999;
}

.td_descript {
    font-size: 12px;
    width: 50px;
}

.td_signature {
    text-align: center;
}

.td_input_short {
    text-align: center;
}

#page_title h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#page_title a {
    margin-left: 10px;
    color: green;
}

#page_title a.selected {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#page_title a.selected:hover {
    color: black;
}

#page_title a:hover {
    color: #666;
}

#h5_container {
    float: right;
    display: inline;
    overflow: hidden;
    width: 620px;
}

#h5_container h5 {
    float: right;
    clear: both;
}
